<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style.css">
</head>

<body>
</body>

<footer class="bg-slate-100">
    <div class="flex">
        <div class="m-7">
            <h1 class="text-[30px]">Customer service</h1>
            <h2 class="text-slate-500 hover:text-green-300"><a href="#">Help Center</a></h2>
            <h2 class="text-slate-500 hover:text-green-300"><a href="#">Transaction services Agreement fo</a>r</h2>
            <h2 class="text-slate-500 hover:text-green-300"><a href="#">non EU/UK Consumers</a></h2>
            <h2 class="text-slate-500 hover:text-green-300"><a href="#">Terms and Condition for EU/EEA/UK</a></h2>
            <h2 class="text-slate-500 hover:text-green-300"><a href="#">Consumers(Transactions)</a></h2>
            <h2 class="text-slate-500 hover:text-green-300"><a href="#">Take our feedback survey</a></h2>
        </div>
        <div class="mt-7 ml-9">
            <h1 class="text-[30px]">Shoping with us</h1>
            <h2 class="text-slate-500 hover:text-green-300"><a href="#">Making payments</a></h2>
            <h2 class="text-slate-500 hover:text-green-300 "><a href="#">Delivery options</a></h2>
            <h2 class="text-slate-500 hover:text-green-300 "><a href="#">Buyer protection</a></h2>
            <h1 class="text-[31px] mt-5 ">Collaborate with us</h1>
            <h2 class="mt-3 text-slate-500 hover:text-green-300 "><a href="#">Partnerships</a></h2>
            <h2 class="mt-3 text-slate-500 hover:text-green-300 "><a href="#">Affiliate program</a></h2>
            <h2 class="mt-3 text-slate-500 hover:text-green-300 "><a href="#">DS Center</a></h2>
            <h2 class="mt-3 text-slate-500 hover:text-green-300 "><a href="#">Seller log in</a></h2>
            <h2 class="mt-3 text-slate-500 hover:text-green-300 "><a href="#"> Non-chinese seller Registration</a></h2>
        </div>
        <div class="m-6 ml-28">
            <h1 class="text-[30px]"><a href="#">pay with</a></h1>
            <div class="*:w-16  flex gap-2">
                <img src="/images/pay pal.png" alt="">
                <img src="/images/pay you.webp" alt="">
                <img src="/images/p for.webp" alt="">
                <img src="/images/jcp.webp" alt="">
            </div>
            <div class="*:w-16 h-16 flex gap-2 mt-3">
                <img src="/images/G pay.webp" alt="">
                <img src="/images/ff pay.webp" alt="">
                <img src="/images/blink.webp" alt="">
                <img src="/images/apple pay.webp" alt="">
            </div>
            <div class="*:w-16 h-16 flex gap-2 mt-3">
                <img src="/images/amron.webp" alt="">
                <img src="/images/216x144.webp" alt="">
            </div>
        </div>
        <div class="mt-7 ml-32 ">
            <h1 class="text-[30px]">Blebien sie in verbindung</h1>
            <li class="list-none  text-[50px] cursor-pointer mt-7">
                <span><i class="fa-brands fa-facebook"></i></span>
                <span><i class="fa-brands fa-instagram"></i></span>
                <span><i class="fa-brands fa-whatsapp"></i></span>
                <span><i class="fa-brands fa-facebook-messenger"></i></span>
            </li>
        </div>
    </div>

     <div class="mt-20 ml-14 flex"> 
        <div class="w-[800px]">
            <h1 class="text-[25px] font-semibold">HELP</h1>
            <span>
                <a class="hover:text-orange-300" href="">Help-center,</a>
                <a class="hover:text-orange-300" href="">Disputed & Reports,</a>
                <a class="hover:text-orange-300" href="">Buyeprotection,</a>
                <a class="hover:text-orange-300" href="">RGE-Verletzung melden,</a>
                <a class="hover:text-orange-300" href="">Regulated information,</a>
                <a class="hover:text-orange-300" href="">Integrity Compliance,</a>
                <a class="hover:text-orange-300" href="">Transparenz zentrum,</a>
                <a class="hover:text-orange-300" href="">Beschwerdeeinstieg ohne Anmeldung.</a>
            </span>

            <li class="list-none mt-6">
                <h1 class="text-[25px] font-semibold">Browse by Category</h1>

                <a class="hover:text-orange-300" href="">All popular,</a>
                <a class="hover:text-orange-300" href="">Product,</a>
                <a class="hover:text-orange-300" href="">promotion,</a>
                <a class="hover:text-orange-300" href="">Low price,</a>
                <a class="hover:text-orange-300" href="">Great Value,</a>
                <a class="hover:text-orange-300" href="">Reviews,</a>
                <a class="hover:text-orange-300" href="">China Brands,</a>
                <a class="hover:text-orange-300" href="">Blog,</a>
                <a class="hover:text-orange-300" href="">Seller portal,</a>
                <a class="hover:text-orange-300" href="">Black Friday,</a>
                <a class="hover:text-orange-300" href="">Ali Express Assistant,</a>
            </li>
        </div>
        <div class="w-[800px] ml-14">
            <h1 class="text-[25px] font-semibold ">AliExpress Multi-Language Sites</h1>
            <a class="hover:text-orange-300" href="">Portuguese,</a>
            <a class="hover:text-orange-300" href="">Spanish,</a>
            <a class="hover:text-orange-300" href="">French,</a>
            <a class="hover:text-orange-300" href="">German,</a>
            <a class="hover:text-orange-300" href="">Italian,</a>
            <a class="hover:text-orange-300" href="">Dutch,</a>
            <a class="hover:text-orange-300" href="">Turkish,</a>
            <a class="hover:text-orange-300" href="">Japanese,</a>
            <a class="hover:text-orange-300" href="">Korean,</a>
            <a class="hover:text-orange-300" href="">Thai,</a>
            <a class="hover:text-orange-300" href="">Vietnamese,</a>
            <a class="hover:text-orange-300" href="">Arabic,</a>
            <a class="hover:text-orange-300" href="">Hebrew,</a>
            <a class="hover:text-orange-300" href="">Polish.</a>


            <li class="list-none mt-6 ">
                <h1 class="text-[25px] font-semibold ">Alibaba Group</h1>
    
                <a class="hover:text-orange-300" href="">Alibaba Group Website,</a>
                <a class="hover:text-orange-300" href="">AliExpress,</a>
                <a class="hover:text-orange-300" href="">Alimama,</a>
                <a class="hover:text-orange-300" href="">Alipay,</a>
                <a class="hover:text-orange-300" href="">Fliggy,</a>
                <a class="hover:text-orange-300" href="">Alibaba cloud,</a>
                <a class="hover:text-orange-300" href="">Alibaba International,</a>
                <a class="hover:text-orange-300" href="">AliTelecom,</a>
                <a class="hover:text-orange-300" href="">DingTalk,</a>
                <a class="hover:text-orange-300" href="">Juhuasuan,</a>
                <a class="hover:text-orange-300" href="">Taobao Marketplace,</a>
                <a class="hover:text-orange-300" href="">Tmall,</a>
                <a class="hover:text-orange-300" href="">Taobao Global,</a>
                <a class="hover:text-orange-300" href="">AliOS,</a>
                <a class="hover:text-orange-300" href="">1688,</a>
            </li
            

        </div>
        
    </div>


    
</footer>

</html>