<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="bg-[black] p-2">
            <section class="flex ">
                <div class="ml-5">
                    <ul class="  flex gap-2 mt-3">
                        <li class="text-white font-semibold text-[28px]"><a href="#">AliExpress</a></li>
                        <li class="text-white text-[26px]"><a href="#">|</a></li>
                        <li class="text-white font-bold text-[18px] mt-4"><a href="#">EURO2024</a></li>
                    </ul>
                    <h1 class="text-white ml-24  text-[12px] font-thin font-mono"><a href="#">OFFICIAL PARTNER</a></h1>
                </div>
                <form class="bg-white my-5 p-1 flex rounded-full  mx-3">
                    <input type="search" placeholder="air buds bluthooth  "
                        class=" w-[600px] ml-2 placeholder:text-sm outline-none rounded-full">
                    <button><i
                            class="fa-solid fa-magnifying-glass bg-black text-white  p-3 w-12 rounded-full "></i></button>
                </form>
                <ul class="mt-5 gap-5 flex">
                    <li class="flex ml-2">
                        <h1 class="text-white text-[28px] "><a href="#"></a><i class="fa-solid fa-qrcode"></i></a></h1>
                        <h2 class="text-white text-[17px] ml-3 mt-3 font-light "><a href="#"><i
                                    class="fa-solid fa-angle-down"></i></a></h2>
                    </li>

                    <li class="flex  mt-2  ">
                        <a href="#"><img src="/images/download (1).jfif" alt="" class="h-7"></a>
                        <h2 class="text-white text-[17px] ml-3 mt-2 font-light "><a href="#"><i
                                    class="fa-solid fa-angle-down"></i></a></h2>
                    </li>

                    <li class="flex ">
                        <h1 class="text-white text-[28px] "><a href="#"></a><i class="fa-solid fa-user"></i></a></h1>
                        <h2 class="text-white text-[18px] ml-3 mt-3 font-light "><a href="#"><i
                                    class="fa-solid fa-angle-down"></i></a></h2>
                    </li>

                    <li class="flex ">
                        <h1 class="text-white text-[28px] "><a href="#"></a><i
                                class="fa-solid fa-cart-shopping"></i></a></h1>
                        <h2 class="text-white text-[18px] ml-3 mt-3 font-light "><a href="#"><i
                                    class="fa-solid fa-angle-down"></i></a></h2>
                    </li>
                </ul>


            </section>
            <section class="flex ml-9">
                <div
                    class=" *:text-center p-2 w-[350px] rounded-3xl hover:bg-white *:hover:text-black bg-[#555151] gap-2  flex *:text-white">
                    <i class="mt-2 fa-solid fa-list"></i>
                    <button class="text-[18px] ">ALL Categories</button>
                    <i class="mt-2 text-[16px] ml-2 fa-solid fa-angle-down"></i>
                </div>
                <ul class="ml-14 mt-1 flex gap-4  ">
                    <li class="text-white text-[18px] text-center hover:bg-[#555151] p-2  w-24 rounded-3xl "><a href="#">NIN</a>
                    </li>
                    <li class="text-white text-[18px] hover:bg-[#555151] p-2 w-28 text-center  rounded-3xl "><a
                            href="#">Bestsellers</a></li>
                    <li class="text-white text-[18px] hover:bg-[#555151] text-center p-2 w-36 rounded-3xl "><a href="#">Top
                            Brands</a></li>
                    <li class="text-white text-[18px] hover:bg-[#555151] p-2 w-44 rounded-3xl  text-center"><a href="#">Home &
                            Garden</a></li>
                    <li class="text-white text-[18px] hover:bg-[#555151] p-2 text-center w-[230px] rounded-3xl "><a href="#">Hair
                            Extentions & Wings</a></li>
                    <li class="text-white text-[18px] hover:bg-[#555151] p-2 w-28 text-center  rounded-3xl "><a href="#">More<i
                                class="fa-solid fa-angle-down ml-2"></i></a></li>
                </ul>
            </section>

        </nav>
        <div class="">
            <img src="/images/S0fdd691113b74eb6bab15b8eba6093252.png_.webp" alt="" class="w-full flex-nowrap">
        </div>
    </header>

</body>

</html>