<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="gap-4 flex">
      <div>
        <div
          class="flex w-[800px] p-2 justify-between shadow-md shadow-black mt-10 ml-10 mb-6"
        >
          <div class="flex gap-4">
            <i
              class="fa-solid fa-check text-[12px] mt-1 border-[1px] text-white font-bold hover:text-[orange] bg-[orange] rounded-[3px] hover:bg-white p-[2px] border-solid border-[orange]"
            ></i>
            <h1 class="text-[12px] mt-1">SELECT ALL (3 ITEM(S))</h1>
          </div>
          <div class="flex gap-3 *:hover:text-[#ff8c08]">
            <a href="#">
              <i class="fa-solid fa-trash-can text-[14px] mt-1"></i
            ></a>
            <h1 class="text-[12px] mt-1"><a href="#">DELETE</a></h1>
          </div>
        </div>

        <div class="w-[800px] mt-6 ml-10 shadow-md shadow-black pb-7">
          <div class="flex justify-between">
            <div class="flex gap-2 mb-2">
              <i
                class="fa-solid fa-check text-[12px] mt-1 mb-8 ml-2 border-[1px] text-white font-bold hover:text-[orange] bg-[orange] rounded-[3px] hover:bg-white p-[2px] border-solid border-[orange]"
              ></i>
              <h1 class="text-[15px] hover:text-orange-500">
                <a href="#">(Hania Colection lahore)</a>
              </h1>
              <i class="fa-solid fa-chevron-right mt-1 text-[14px]"></i>
            </div>
            <div class="flex mt-10 mr-2 mb-2">
              <h1 class="text-[12px]">Earliest Delivery:</h1>
              <h1 class="text-[12px] font-semibold">30 May</h1>
            </div>
          </div>
          <hr />
          <div class="flex gap-3">
            <i
              class="fa-solid fa-check text-[12px] mb-14 mt-10 ml-2 border-[1px] text-white font-bold hover:text-[orange] bg-[orange] rounded-[3px] hover:bg-white p-[2px] border-solid border-[orange]"
            ></i>

            <a href="#"
              ><img src="/images/img22.jpg" alt="" class="w-24 p-2"
            /></a>
            <ul class="mt-2">
              <li class="text-[15px]">
                <a href="#">Original Earphones Headphones Headset Handsfree</a>
              </li>
              <li class="text-[15px]"><a href="#">For Mobile Phone</a></li>
              <li class="text-sm text-gray-500">
                <a href="#" class="">No Brand, Color Family:Black</a>
              </li>
            </ul>
            <ul class="ml-10">
              <li class="text-orange-500 mt-3">Rs:340</li>
              <li
                style="text-decoration: line-through"
                class="text-gray-500 mt-2 text-sm"
              >
                RS:100
              </li>
              <li class="mt-1 text-sm">-66%</li>
              <ul class="flex gap-3 *:text-gray-500 mt-3">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-trash-can"></i>
              </ul>
            </ul>
            <div class="flex h-7 mt-3 ml-10">
              <h1 class="w-8 text-center bg-gray-200"><a href="#">-</a></h1>
              <h2
                class="w-9 text-center hover:border-solid hover:border-2 rounded-sm hover:border-gray-300"
              >
                2
              </h2>
              <h1 class="w-8 text-center bg-gray-200"><a href="#">+</a></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-10 p-2 shadow-md shadow-black w-[400px]">
        <div class="ml-2">
          <h1 class="text-[19px] font-semibold">Order Summary</h1>
          <ul class="justify-between flex mt-2">
            <li class="text-[14px] text-gray-500">Subtotal (3 items)</li>
            <li class="text-[17px] font-medium">Rs. 991</li>
          </ul>
          <ul class="justify-between flex mt-3">
            <li class="text-[14px] text-gray-500">Shipping Fee</li>
            <li class="text-[17px] font-medium">Rs. 290</li>
          </ul>
          <form class="mt-4">
            <input
              type="text"
              placeholder="Enter Vouncher Code"
              class="p-[8px] border-[1px] border-solid border-gray-500 outline-none rounded-md w-[270px]"
            />
            <button class="text-white w-[100px] bg-blue-500 p-[8px] rounded-md">
              APPLY
            </button>
          </form>
          <ul class="mt-1 flex justify-between">
            <li>Total</li>
            <li class="text-[17px] font-medium text-red-500">RS. 1,281</li>
          </ul>
          <button
            class= "mt-3 bg-[hsl(19,100%,50%)] w-full p-3 text-white text-sm rounded-sm duration-700 hover:bg-[rgb(235,80,19)]"
          >
            PROCEED TO CHECKOUT(4)
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
