<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav class="bg-[#ff5100] pb-1 ">
        <section class="mx-auto max-w-screen-xl px-4 lg:px-0">
          <ul class="flex items-center gap-4 ml-14 text-xs font-medium text-white py-2">
            <li class="hover:text-gray-200"><a href="#">Become a seller</a></li>
            <li class="hover:text-gray-200"><a href="#">Draz Affiliate Program</a></li>
            <li class="hover:text-gray-200"><a href="#">Help & Support</a></li>
            <li class="hover:text-gray-200"><a href="#">Draz Logistics Partner</a></li>
          </ul>
          <div class="flex items-center justify-between ml-14 mb-2">
            <img src="/images/e650d6ca-1841-4646-b0e9-4ddbf2beb731.png" alt="" class="w-32 h-14">
           
            <form class="bg-white flex rounded-xl p-1 flex-grow ml-4 ">
              <input type="search" placeholder="Search in Draz" class="flex-grow ml-2 placeholder-text-sm outline-none rounded-xl">
              <button class="bg-pink-200 p-1 w-12  rounded-xl">
                <i class="fa-solid text-[#ff5100] fa-magnifying-glass"></i>
              </button>
            </form>
            <ul class="flex items-center  ml-4 gap-4">
              <li class="font-bold *:text-white hover:bg-[#00000017] mb-2   text-center p-3 h-9 rounded-xl">
                <a href="#" class="flex items-center gap-3"><i class="fa-regular fa-user"></i><span class="text-sm">Login</span></a>
              </li>
              <li class="font-bold *:text-white hover:bg-[#00000017] mb-2  text-center p-3 h-9 rounded-xl">
                <a href="#"><span class="text-sm">Sign Up</span></a>
              </li>
              <li class="font-bold *:text-white hover:bg-[#00000017] mb-2 text-center p-3 h-9 rounded-xl">
                <a href="#" class="flex items-center gap-2"><i class="fa-solid fa-globe"></i><span class="text-sm">EN</span></a>
              </li>
              <li class="font-bold *:text-white hover:bg-[#00000017] mb-2 text-center p-3 h-9 rounded-xl">
                <a href="#" class="text-white"><i class="fa-solid fa-cart-shopping"></i></a>
              </li>
            </ul>
          </div>
        </section>
      </nav>
    </header>
  </body>
</html>
