<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav class="bg-[#ff5100]">
        <section class="ml-7">
          <ul class="gap-5 flex *:text-xs *:text-white mb-3">
            <li class="hover:text-gray-200"><a href="#">Become a seller</a></li>
            <li class="hover:text-gray-200">
              <a href="#">Draz Affiliate Program</a>
            </li>
            <li class="hover:text-gray-200"><a href="#">Help & Support</a></li>
            <li class="hover:text-gray-200">
              <a href="#">Draz Logistics Patner</a>
            </li>
          </ul>
          <div>
            <div class="flex gap-3">
              <img
                src="/images/e650d6ca-1841-4646-b0e9-4ddbf2beb731.png"
                alt=""
                class="w-32 mt-1 h-14"
              />

              <div class="flex gap-2">
                <button class="text-sm font-bold text-white">
                  <a href="#">Categories</a>
                </button>
                <i
                  class="fa-solid fa-angle-down mt-[35px] text-xs text-white"
                ></i>
              </div>
              <form class="bg-white my-5 flex rounded-xl p-1">
                <input
                  type="search"
                  placeholder="Search in Darz  "
                  class="w-[600px] ml-2 placeholder:text-sm outline-none rounded-xl"
                />
                <button>
                  <i
                    class="fa-solid text-red-600 fa-magnifying-glass bg-pink-200 p-2 w-12 rounded-xl"
                  ></i>
                </button>
              </form>
              <ul class="flex gap-4">
                <li class="font-bold mt-6  *:text-white hover:bg-gray-200 text-center p-2 h-9 rounded-xl ">
                  
                    <a href="#" class="flex gap-3">  <i class="fa-regular fa-user"></i>
                    <h1 class="text-sm">login</h1>
                </a>
                </li>

                <li class="mt-5 font-bold *:text-white p-2 h-9 rounded-xl hover:bg-[#c0bcbc]">
                  <a href="#"><h1>sing up</h1></a>
                </li>
                <li class="font-bold mt-6  *:text-white hover:bg-gray-200 text-center p-2 h-9 rounded-xl ">
                  
                    <a href="#" class="flex gap-2">  <i class="fa-solid fa-globe"></i></i>
                    <h1 class="text-sm">EN</h1>
                </a>
                </li>
                <li class="font-bold mt-6  *:text-white w-16 hover:bg-gray-200 text-center p-2 h-9 rounded-xl ">
                  
                  <a href="#" class="text-white "> <i class="fa-solid fa-cart-shopping"></i>
                  
              </a>
              </li>
              </ul>
            </div>
          </div>
        </section>
      </nav>
    </header>
  </body>
</html>
